@font-face { 
    font-family: Orbitron; 
    src: url('font/Orbitron-VariableFont_wght.ttf'); 
} 

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

.first, .second, .third {
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.second, .third {
    margin-top: 20px;
    flex-direction: row;
}

.current_date {
    color: white;
    text-align: center;
    font-size: 42px;
}

.current_time {
    color: white;
    text-align: center;
    font-size: 90px;
}

.stopwatch_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stopwatch {
    min-width: 500px;
    color: white;
    text-align: center;
    font-size: 60px;
}

.buttons {
    text-align: center;
}

.stopwatch_values {
    margin-top: 40px;
    color: white;
    width: 400px;
    height: 150px;
    background: black;
    border: 2px solid white;
    overflow: scroll;
}

.general_btn{
    width: 70px;
    height: 30px;
    text-transform: uppercase;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.minutes_btn {
    width: 70px;
    height: 30px;
    text-transform: uppercase;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}

.minutes_number {
    color: white;
    font-size: 60px;
    text-align: center;
}

#min_word {
    font-size: 40px;
}

.minutes_buttons {
    color: white;
    text-align: center;
}

.timer_number {
    color: white;
    text-align: center;
    font-size: 60px;
}

.timer_buttons {
    color: white;
    text-align: center;
}

.minutes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

